/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2017, 9:06:45 AM
    Author     : jeffroth

    Blue=#5d7e95;
    Red=#ee3823;
*/
@font-face{
    font-family: sansations;
    src: url(./fonts/Sansation_Regular.ttf);
}
body {
    margin:0;
    padding:15px;
    font-family: sansations;
    
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #5d7e95;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  color: #ee3823;
}
/* Add a color to the active/current link */
.topnav a.active {
    color: #ee3823;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D3D3D3;
    margin: 1em 0;
    padding: 0; 
}